---
import { CONFIG } from "../../config";

// get tenant id from param
const { tenantId } = Astro.params;

if (!tenantId) {
  return Astro.redirect("/");
}

const res = await fetch(CONFIG.api + "/tenants/" + tenantId);

let tenant;

try {
  tenant = await res.json();
} catch (error) {
  console.log(error);

  return Astro.redirect("/");
}
---

<div>
  {
    tenant && (
      <div>
        <h1>{tenant.name}</h1>
        <p>{tenant._count.categories}</p>
        <p>{tenant._count.posts}</p>
        {tenant.categories.map((category: any) => (
          <div>
            <h2>{category.name}</h2>
            <a href={Astro.url + "/categories/" + category.slug}>
              Go to category
            </a>
          </div>
        ))}
        {tenant.posts.map((post: any) => (
          <div>
            <h2>{post.title}</h2>
            <a href={"posts/" + post.slug}>Go to post</a>
          </div>
        ))}
      </div>
    )
  }
</div>
